.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* custom styles */

.navbar-custom {
  background-color: var(--primary-color) !important;
}

:root {
  --primary-color: rgb(38, 34, 98);
  --secondary-color: rgb(201, 32, 139);
  --secondary-hover-color: rgb(206, 147, 216);
  --light-grey: rgb(241, 243, 243);
  --darker-grey: rgb(212, 218, 218);
}



/* end custom styles */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}